{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="caramellatte">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'output.css'%}">
  <title>Event Calendar Maker</title>
</head>
<body>
  <header class="navbar bg-neutral text-neutral-content">
    <div class='navbar-start'>
      <a href='{% url "event_list" %}' class="btn btn-ghost text-xl">eventMakers</a>
    </div>
    <div class='navbar-end flex'>
      {% if user.is_authenticated %}
        <a href="{% url 'event_create' %}" class='btn mr-2'>Add Event</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class='btn'>Login</a>
      {% endif %}
    </div>
  </header>
  {% block content %}{% endblock %}
</body>
</html>